.get-info-form-container {
    width: 100%;
    background: #143FDD;
    height: 136px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 15;
    font-family: iranYekan;
}

.form-title {
    margin: 0 auto;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: white;
    padding: 30px 0;
    direction: rtl;
}

.form-data-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.data-fields input{
    border-radius: 16px;
    padding: 1px 20px 1px 2px;
    text-align: right;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #D8D8D8;
    font-family: iranYekan !important;
}
.submit{
    color: white;
    font-size: 14px;
    line-height: 21px;
    border-radius: 16px;
    padding: 3px 15px;
    border: 1px solid #D8D8D8;
    height: fit-content;
    background-color: #FFB300;
}
#select-label{
    direction: rtl;
    font-size: 14px;
    border: 1px solid #D8D8D8;
    line-height: 21px;
    border-radius: 16px;
    background: white;
    padding: 1px 20px 1px 2px;
    font-family: iranYekan;
    width: 100px;
}