@import "src/styles/colors/colors";
.login-and-singUp-btn {
    font-family: iranYekan;
    border-radius: 7px;
    color: $menuItem;
    position: absolute;
    left: 3%;
    opacity: 0.8;
    padding: 5px 10px;
    font-size: 13px;
    margin-top: 8px;
    border: 1px solid $btn-border;
    background: none;
    cursor: pointer;
    &:hover{
        opacity: 1;
        background: $menuItemBack;
    }
    @media screen and (max-width: 768px){
        left: 4%;
    }
}