@import './src/styles/colors/_colors.scss';
:root {
  --swiper-navigation-size: 25px !important;
  --toastify-color-light: #38b48b !important;
  --toastify-text-color-light: white !important;
  --toastify-font-family: iranYekan !important;
  @media screen and (max-width: 768px) {
    --swiper-navigation-size: 17px!important;
  }
}
body {
  margin: 0;
  background-color: #f9f9f9;
  .swiper-button-next, .swiper-button-prev {
    color: $navigation-btn;
    cursor: pointer;
  }
  select {
    background-color: white;
    appearance: none;
  }
  a{
    text-decoration: none;
  }
  ul {
    margin: 0;
  }
  option{
    direction: rtl;
  }
  .loading{
    background-color: white;
    width: 100%;
    img{
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }
  .classes-container, .footer-bottom-container, .modal-pop-up, .icon-container, .form-title, .form-title-mobile,
  .form-data-container, .header, .schedule-container, .schedule-mobile-container {
    margin: 0 auto;
  }
  .why-monta-container, .classes-container, .schedule-container, .form-data-container {
    @media screen and (min-width: 2450px){
      width: 50%;
    }
    @media screen and (min-width: 2000px) and (max-width: 2450px) {
      width: 60%;
    }
    @media screen and (min-width: 1440px) and (max-width: 2000px) {
      width: 85%;
    }
    @media screen and (max-width: 2000px) {
      width: 74%;
    }
    @media screen and (max-width: 1440px) {
      width: 95%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      width: 97%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1200px){
      width: 95%;
    }
  }
}