@import './src/styles/colors/_colors.scss';
body{
    margin: 0;
    background-color: #f9f9f9;
    .swiper-button-next , .swiper-button-prev{
        color: $navigation-btn;
    }
    select {
        appearance: none;
    }
    .Toastify{
        float: left;z-index: 100;
        background-color: red;
    }
}
