@import './src/styles/colors/_colors.scss';
:root {
  --swiper-navigation-size: 25px;
  --toastify-color-light: #38b48b !important;
  --toastify-text-color-light: white !important;
  --toastify-font-family: iranYekan !important;
  @media screen and (max-width: 768px) {
    --swiper-navigation-size: 17px!important;
  }
}
body {
  margin: 0;
  background-color: #f9f9f9;
  .swiper-button-next, .swiper-button-prev {
    color: $navigation-btn;
    cursor: pointer;
  }
  select {
    appearance: none;
  }
  a{
    text-decoration: none;
  }
  ul {
    margin: 0;
  }
  .classes-container, .footer-bottom-container, .modal-pop-up, .icon-container, .form-title, .form-title-mobile,
  .form-data-container, .header, .schedule-container, .schedule-mobile-container {
    margin: 0 auto;
  }
  .why-monta-container, .classes-container, .schedule-container, .form-data-container {
    @media screen and (max-width: 2560px) {
      width: 50%;
    }
    @media screen and (max-width: 2000px) {
      width: 67%;
    }
    @media screen and (max-width: 1440px) {
      width: 95%;
    }
    @media screen and (max-width: 1024px) {
      width: 95%;
    }
  }
}