.classes-main-container{
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px 0;
}
.classes-container{
    border-radius: 20px;
    background-color: white;
    width: 85%;
    margin: 0 auto;
    direction: rtl;
}