@import 'src/styles/colors/colors';
.card {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $form-input-border;
  margin: 0 14px;
  @media screen and (max-width: 768px) {
    margin: 75px 6px 0 6px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 5px;
  }
  .teacher-img {
    border-radius: 30px;
    width: 100%;
    height: 55%;
  }
  .details-container {
    padding: 10px 25px;
    margin-top: -7px;
    background-color: $teacher-detail-back;
    border-top: 1px solid $teacher-border;
    border-radius: 0 0 20px 20px;
    @media screen and (max-width: 768px) {
      padding: 5px;
    }
    .course-name {
      font-size: 16px;
      font-weight: bold;
      padding: 8px 0;
      @media screen and (max-width: 768px) {
        font-size: 11px;
        font-weight: normal;
        text-align: center;
      }
    }
    .container {
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .name-session-container {
        flex-direction: column;
        padding: 10px 0;
        @media screen and (max-width: 768px) {
          padding: 0;
        }
        .name {
          color: $navigation-btn;
          font-size: 12px;
          opacity: 0.9;
          margin: 0 0 20px 0;
          display: flex;
          white-space: nowrap;
          @media screen and (max-width: 768px) {
            margin: 0 0 10px 0;
            display: inline;
            text-align: center;
            img {
              margin-bottom: -5px;
            }
            span {
              white-space: nowrap;
            }
          }
        }
        .session {
          opacity: 0.9;
          color: $navigation-btn;
          display: flex;
          font-size: 12px;
          @media screen and (max-width: 768px) {
            text-align: center;
            display: inline;
            img {
              margin-bottom: -5px;
            }
          }
        }
      }
      .price-container {
        flex-direction: column;
        padding: 10px 0;
        text-align: left;
        @media screen and (max-width: 768px) {
          text-align: center;
          padding: 10px 0;
        }
        .price {
          color: $teacher-border;
          font-size: 10px;
          position: relative;
          &:after {
            position: absolute;
            top: 7px;
            left: 0;
            width: 78%;
            height: 1px;
            background-color: $teacher-border;
            content: ' ';
            @media screen and (max-width: 768px) {
              width: 35%;
              right: 32%;
            }
            @media screen and (max-width: 425px) {
              width: 40%;
              right: 50px;
            }
            @media screen and (max-width: 375px) {
              width: 45%;
              right: 40px;
            }
            @media screen and (max-width: 320px) {
              width: 50%;
              right: 30px;
            }
            @media screen and (max-width: 319px) {
              width: 30%;
              right: 35%;
            }
          }
        }
        .second-price {
          color: $form-input-color;
          font-size: 12px;
          white-space: nowrap;
          .second-price-num {
            color: $second-price;
          }
        }
      }
    }
  }
  .container , .name-session-container , .price-container{
    display: flex;
    justify-content: space-between;
  }
}