@import "src/styles/colors/colors";
:root {
    --swiper-navigation-size : 25px;
}
.banner-swiper-container{
    img {
        width: 100%;
    }
    .mobile-view{
        display: none;
        @media screen and (max-width: 768px){
            display: block;
        }
    }
    .desktop-view {
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    .swiper-button-prev{
        cursor: pointer;
        color:$navigation-btn;
    }
    .swiper-button-next {
        color: $navigation-btn;
        cursor: pointer;
    }
}