$menuItem : #305363;
$menuItemBack : #eceff1;
$btn-border : rgb(219, 219, 219);
$navigation-btn : #585858;
$form-back : #143FDD;
$submit-btn : #FFB300;
$form-input-border : #D8D8D8;
$form-input-color : #6C6C6C;
$body-back : #f9f9f9;
$extra-title : #FFB300;
$line : #E8E8E8;
$footer : #334148;
$teacher-border : #B4B4B4;
$teacher-detail-back : #FAFAFA;
$second-price : #3A3A3A;
$pop-up-back : #646464e6;
$login-border : #dbdbdb;
$login-placeholder : #c2c2c2db;
$forgot-pass : #00b0ff;
$input-title : #212121;
$login-hover : #b5b5b5;