@import 'src/styles/colors/colors';
.schedule-mobile{
  display: none;
  @media screen and (max-width: 768px){
    display: block;
  }
}
.schedule-container {
  width: 67%;
  margin: 0 auto;
  font-family: iranYekan;
  background-color: white;
  direction: rtl;
  border-radius: 20px;
  padding: 30px 0;
@media screen and (max-width: 768px){
  display: none;
}
  .schedule-title {
    margin-right: 30px;
    font-weight: 600;
    font-size: 20px;
  }

  .schedule-swiper {
    .schedule-img {
      height: 605px;
      margin: 0 100px;
    }

    .swiper-button-next, .swiper-button-prev {
      color: $navigation-btn;
    }
    .swiper-button-prev{
      right: 30px;
    }
    .swiper-button-next{
      left: 30px;
    }
  }
}