@import 'src/styles/colors/colors';
.schedule-mobile-container {
  background-color: white;
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  .title{

  }
  .subtitle{

  }
  .get-btn{
    border-radius: 20px;
  }
}