@import 'src/styles/colors/colors';

.why-monta-container {
  width: 67%;
  background-color: white;
  border-radius: 20px;
  margin: 30px auto;
  font-family: iranYekan;
  direction: rtl;
  padding: 0 0 10px 0;
  @media screen and (max-width: 768px) {
  width: 90%;
}

  .why-monta-title {
    font-size: 20px;
    font-weight: 800;
    padding: 40px 25px 20px 0;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      padding: 20px 25px 5px 0;
    }
  }

  .why-monta-items {
    display: flex;
    justify-content: space-around;
    margin: 0px 6%;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .item-container {
      .clicked {
        background-color: $extra-title;
      }

      .options {
        border-radius: 12px;
        font-size: 14px;
        background-color: $form-input-border;
        margin: 15px 0;
        cursor: pointer;
        @media screen and (max-width: 768px) {
         width: 100%;
          margin: 10px auto;

        }
        .index {
          color: white;
          padding-right: 30px;
          font-size: 24px;
          vertical-align: middle;
          @media screen and (max-width:768px){
            font-size: 14px;
            padding: 0 20px 0 10px
          }
        }

        .option {
          display: inline-block;
          padding: 10px 25px 10px 40px;
          @media screen and (max-width:768px){
            font-size: 10px;
            padding: 15px 5px 15px 0px;
          }
        }
      }
    }

    .item-img {
      img {
        @media screen and (max-width:768px){
          width: 255px;
          height: 300px;
          margin: 0 auto;
          display: block;
        }
        border-radius: 20px;
      }
    }
  }
}
.selected{
  background-color: $submit-btn !important;
}