@import 'src/styles/colors/colors';

.why-monta-container {
  width: 66%;
  background-color: white;
  border-radius: 20px;
  margin: 25px auto;
  font-family: iranYekan;
  direction: rtl;
  padding: 0 0 10px 0;
  @media screen and (max-width: 768px) {
  width: 90%;
}

  .why-monta-title {
    font-size: 20px;
    font-weight: 800;
    padding: 40px 25px 20px 0;
  }

  .why-monta-items {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .item-container {
      .clicked {
        background-color: $extra-title;
      }

      .options {
        border-radius: 12px;
        font-size: 14px;
        background-color: $form-input-border;
        margin: 15px 0;
        cursor: pointer;

        .index {
          color: white;
          padding-right: 30px;
          font-size: 24px;
          @media screen and (max-width:600px){
            font-size: 14px;
          }
        }

        .option {
          display: inline-block;
          padding: 10px 25px 10px 40px;
          @media screen and (max-width:600px){
            font-size: 10px;
            padding: 10px 20px 10px 40px;
          }
        }
      }
    }

    .item-img {
      img {
        @media screen and (max-width:600px){
          width: 267px;
          height: 300px;
          margin: 0 auto;
          display: block;
        }
        border-radius: 20px;
      }
    }
  }
}